.body_1 {
    width: 100%;
    height: auto;
}
#home_nav_bar {
    border-bottom: 1px solid rgba(red, green, blue, alpha);
    margin-bottom: 16px;
    font-size: 13px;
    width: 100%;
    height: 50px;
    background-color: ;
    padding-left: 10%;
    padding-right: 10%;
}
#home_nav_bar ul li {
    display: inline-block;
    font-size: 25px;
    padding-left: 10px;
    color: black;
    
}
.nav_bar_2 {
    text-align: center;
}
.body_2 {
    width: 100%;
    height: 500px;
    background-color: ;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}
.body_2_1 {
    width: 100%;
    height: 250px;
    background-color: aliceblue;
    text-align: center;

}
.graph_body_2_1 {
    width: 100%;
    height: 100%;
    background-color: white;
}
.graph_body_graph1 {
    width: auto;
    height: auto;
    background-color:;
}