.index_title { 
    color: black; 
    text-align: left;
    font-size: x-large;
    background-image: none;
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: ;
    display: inline;
    z-index: 9999;
}
.index_title2 {
   
    padding-left: 8%;
    font-family: fantasy;
    padding-top: 30px;
    font-style: italic;
    font-weight: bold;
}
.index_body_1 {
    width: 100%;
    height: 100%;
    background-color: white;
}
.index_body_2 {
    width: 100%;
    height: 600px;
    background-color:;
    padding-top: 10%;
    padding-left: 5%;
}
.index_body_3 {
    background-color: ;
    display: flex;
    width: 100%;
    height: 500px;
}
.index_img_1 {
    width: 800px;
    display: inline;
    
}
.index_body_4 {
    display: inline-block;
    width: 100%;
    height: 500px;
    background-color: ;
    padding-top: 120px;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: large;
    
}
.body_4_button {
    padding-left: 25%;
    padding-top: 10%;
}
.index_body_5 {
    width: 100%;
    height: 150px;
    background-color: rgb(220, 245, 163);
    
}
.index_body_6 {
    width: 100%;
    height: 400px;
    background-color: white;
    margin-top: 10%;
    padding: 5%;
    font-size: large;
    font-family: sans-serif;
    display: flex;
}
.index_body_6_1 {
    width: 60%;
    
    background-color: white;
    font-size: large;
    font-family: sans-serif;
    
}
.index_body_6_1_1 {
    padding-left: 40%;
    margin-top: 10%;
}
.index_body_6_2 {
    width: 40%;
    background-color: white;
   
}
.index_img2 {
    width: 422px;
    height: 282px;
}
.index_body_7 {
    width: 100%;
    height: 150px;
    padding: 5%;
    font-size: large;
    font-family: sans-serif;
}
.index_body_8 {
    width: 100%;
    height: 650px;
    padding: 3%;
    display: flex;
}
.index_body_8_1 {
    width: 30%;
    font-size: x-large;
    padding-top: 20%;
    padding-left: 5%;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.index_body_9 {
    width: 100%;
    height: 650px;
    display: flex;
}
.index_body_9_1 {
    width: 30%;
    font-size: x-large;
    padding-top: 20%;
    padding-left: 40%;
    font-family: 'Alegreya Sans SC', sans-serif;
}

footer {
    width: 100%;
    height: 80px;
    background-color: rgb(25, 25, 94);
    color: white;
    text-align: center;
    padding: 10px;
}
.index_body_end li{
    display: inline;
}



*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-flat {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #00b7ee;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

a.btn-flat {
    overflow: hidden;
    padding: 1.5rem 6rem;
    color: #fff;
    border-radius: 0;
    background: #000;
  }
  
  a.btn-flat span {
    position: relative;
  }
  
  a.btn-flat:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-96%);
    transform: translateX(-96%);
    background: #eb6877;
  }
  
  a.btn-flat:hover:before {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
.index_menubar {
    
}